body{
    font-family: 'Bilbo', cursive;
    background:#000;
    text-align: center;
    font-size:36px;
    color:red;

}
h1{
    color:#fff;
    font-size:128px;
    margin:0;
}
#remainigDays,#remainigTIme{
    font-size:124px;
    color:yellow;
}